.get-item-container {
    border-radius: 10px;
    background-color: var(--light-cream);
    color: var(--dark-blue);
    font-family: Arial, sans-serif;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
:root {
    --dark-blue: #13334C;
    --medium-blue: #005792;
    --light-cream: #F6F6E9;
    --orange: #FD5F00;
  }
  

.get-item-container hr {
    width: 100%;
    margin-bottom: 10px;
    height: 2px; 
    background-color: #13334C;
    border: none;
    margin: 0; 
}
.get-item-container .hr2 {
    height: 2px; 
    background-color: orangered;
    border: none;
    margin: 0; 
}

.get-item-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.get-item-input {
    width: 300px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.error-message {
    color: red;
    text-align: center;
}

