
  
  
  

  
  .ant-card-meta-title{
    font-size: 1rem; 
    font-weight: bold; 
  }
  
  .card-text {
    font-size: 1rem; 
  }

  .row {
    margin-bottom: 10px
  }
  
  .container {
    margin-top: 10px; 
  }
  
  .card-img-top {
    height: 150px; 
    object-fit: cover; 
  }
  
  .ant-card {
    transition: transform 0.2s; 
    height: 280px;
    width: 250px;
    margin: 16px 0;
  }
  .ant-card:hover {
    transform: scale(1.05); 
  }
  
  .ant-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .ant-btn{
    margin-top: 10px;
    background-color: green;
  }
  .ant-btn:hover{
    background-color: rgb(255, 255, 255)!important;
    color: #008000!important;
    border: 1px solid #008000 ;
    box-shadow: 2px 2px 4px 1px #0080008b !important;
  }
  .rmBtn{
    background-color: #ff0000;
  }
  .rmBtn:hover{
    background-color: rgb(255, 255, 255)!important;
    color: #ff0000!important;
    border: 1px solid #ff0000 ;
    box-shadow: 2px 2px 4px 1px #ff00008e !important;
  }