:root {
  --dark-blue: #13334C;
  --medium-blue: #005792;
  --light-cream: #F6F6E9;
  --orange: #FD5F00;
  --green: #28a745;
  --red: #dc3545;
}


@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Sora&display=swap');

body{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
    