@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Sora&display=swap');

body{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
    